[submodule "libsql"]
	path = libsql
	url = git://github.com/bbcarchdev/libsql.git
[submodule "liburi"]
	path = liburi
	url = git://github.com/bbcarchdev/liburi.git
[submodule "libsparqlclient"]
	path = libsparqlclient
	url = git://github.com/bbcarchdev/libsparqlclient.git
[submodule "anansi"]
	path = anansi
	url = git://github.com/bbcarchdev/anansi.git
[submodule "m4"]
	path = m4
	url = git://github.com/bbcarchdev/m4.git
[submodule "twine"]
	path = twine
	url = git://github.com/bbcarchdev/twine.git
[submodule "spindle"]
	path = spindle
	url = git://github.com/bbcarchdev/spindle.git
[submodule "quilt"]
	path = quilt
	url = git://github.com/bbcarchdev/quilt.git
[submodule "liblod"]
	path = liblod
	url = git://github.com/bbcarchdev/liblod.git
[submodule "libcluster"]
	path = libcluster
	url = git://github.com/bbcarchdev/libcluster.git
[submodule "libmq"]
	path = libmq
	url = git://github.com/bbcarchdev/libmq.git
[submodule "docs"]
	path = docs
	url = git://github.com/bbcarchdev/acropolis.git
	branch = gh-pages
[submodule "docbook-html5"]
	path = docbook-html5
	url = git://github.com/bbcarchdev/docbook-html5.git
	branch = gh-pages
[submodule "libawsclient"]
	path = libawsclient
	url = git://github.com/bbcarchdev/libawsclient.git
[submodule "twine-anansi-bridge/m4"]
	path = twine-anansi-bridge/m4
	url = git://github.com/bbcarchdev/m4.git
[submodule "twine-anansi-bridge/libsupport"]
	path = twine-anansi-bridge/libsupport
	url = git://github.com/bbcarchdev/libsupport.git
[submodule "twine-anansi-bridge"]
	path = twine-anansi-bridge
	url = git://github.com/bbcarchdev/twine-anansi-bridge.git
