*.lo
*.o
*.la
*.so
*.a
*.exe
*.dll
*.lib
*.obj
*.pc
.deps
.libs
.cproject
.project
.settings
Makefile.in
Makefile
autom4te.cache
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/compile
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/confdefs.h
/test-driver
/test/.idea
/test/__pycache__/
/test/.*
