body>header .masthead {
	display: block;
	background: #859900;
}
.refentry>header, .refentry>section, .refentry>article>section {
	page-break-after: inherit;
}
.refentry>article>section>h1::before {
    content: '';
}
